<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] | @configuration.GetSection("SiteSettings")["SiteName"]</title>

    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />

    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/prettyPhoto/css/prettyPhoto.min.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />

    <script src="~/lib/kendo-ui/js/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.isotope.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.core.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.mobile.min.js"></script>


    <script src="~/lib/prettyPhoto/js/jquery.prettyPhoto.min.js"></script>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/index"><img src="~/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">

                <div class="collapse navbar-collapse">
                    <br />
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="~/index">Deals</a></li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deals<i class="glyphicon glyphicon-arrow-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="registration.html">Popular Deals</a></li>
                                    <li class="divider"></li>
                                    <li><a href="privacy.html">Front Page Deals</a></li>
                                    <li><a href="privacy.html">Coupons</a></li>
                                </ul>
                            </li>*@
                        <li><a href="~/blog">Blog</a></li>

                    </ul>
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Search DealsMo.com">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>

                        <span class="nav navbar-nav navbar-right">
                            @await Html.PartialAsync("_LoginPartial")
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </header><!--/header-->
    @*<section id="title" class="emerald">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6 left">
                        <ul class="breadcrumb pull-right">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Portfolio</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </section>/#title*@
    <breadcrumb asp-homepage-title="Home"
                asp-homepage-url="/index"                
                asp-bootstrap-version="V4"
                asp-homepage-glyphicon="glyphicon glyphicon-home"></breadcrumb>
    <section id="portfolio" class="container">
        @RenderBody()
    </section>
    <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>About Us</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                    <p>Pellentesque habitant morbi tristique senectus.</p>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <h4>Company</h4>
                    <div>
                        <ul class="arrow">
                            <li><a href="#">The Company</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Conatct Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Copyright</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <h4>Latest Blog</h4>
                    <div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="images/blog/thumb1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 17 Aug 2013</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="images/blog/thumb2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 13 Sep 2013</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="images/blog/thumb3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 11 Jul 2013</small>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <h4>Address</h4>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <h4>Newsletter</h4>
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div> <!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; @DateTime.Now.Year <a target="_blank" href="http://DealsMo.com/" title="Free Deals Daily and More">@configuration.GetSection("SiteSettings")["SiteDomain"]</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->




    @RenderSection("Scripts", required: false)

</body>
</html>