@page
@model DMCore.Areas.Admin.Pages.DealCategories.IndexModel
@{
    ViewData["Title"] = "Manage Deal Categories";
}

@using DMCore.Data.Core.Domain
@using Kendo.Mvc.UI

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h2>Deal Categories</h2>
<br />
<input class="k-textbox" id="searchCategories" /> <i>Minimum 3 charachters required to trigger search function</i>
<br />
<p>
    <table id="gridCategories">
        <colgroup>
            <col style="width:100px" />
            <col style="width:100px" />
            <col style="width:100px" />
            <col style="width:100px" />
            <col style="width:100px" />
        </colgroup>
        <thead>
            <tr>
                <th data-field="name">
                    Name
                </th>
                <th data-field="shortname">
                    Short Name
                </th>
                <th data-field="sortseq">
                    Sort Sequence
                </th>
                <th data-field="publiccategory">
                    Public Category
                </th>
                <th data-field="buttons"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.dcList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.SortSeq)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PublicCategory)
                    </td>
                    <td>
                        @*@Html.Partial("_TableButtonsPartial", new IndividualButtonPartial { Id = item.Id })*@
                    </td>
                </tr>
            }

        </tbody>
    </table>
</p>
<script>
    $("#gridCategories").kendoGrid({
        columns: [
            { field: "name" },
            { field: "shortname", filterable: false },
            { field: "sortseq", filterable: false },
            { field: "publiccategory", filterable: false },
            { field: "buttons", filterable: false },

        ],
        toolbar: ["excel"],
        excel: {
            fileName: "DealCategories.xlsx",
            allPages: true
        },
        filterable: true,
        height: 500,
        groupable: true,
        sortable: true,
        pageable: {
            messages: {
                empty: "No items to display"
            },
            input: false,
            refresh: true,
            pageSizes: true,
            pageSizes: [10, 20, 30, 50]
        }
    });

    $("#gridCategories").data("kendoGrid").dataSource.pageSize(10);

    $("#searchCategories").on("keyup change", function (e) {
        var grid = $("#gridCategories").data("kendoGrid");
        var searchTxt = $("#searchCategories").val();

        if (searchTxt.length >= 3) {

            grid.dataSource.filter({
                logic: "or", filters: [
                    { field: "name", operator: "contains", value: searchTxt },
                    { field: "shortname", operator: "contains", value: searchTxt },
                    { field: "sortseq", operator: "contains", value: searchTxt },
                    { field: "publiccategory", operator: "contains", value: searchTxt }]
            });
        }
        else if (searchTxt.length == 0) {
            grid.dataSource.filter([]);
        }
    });

</script>
