@page
@model IndexModel
@{
    ViewData["Title"] = "DM Home";
}
@using DMCore.Data.Core.Domain
@using Kendo.Mvc.UI
<style>
    /*
    #dcListView {
        padding: 10px 5px;
        margin-bottom: -1px;
        min-height: 510px;
        /* Avoid cutout if font or line is bigger
        font: inherit;
    }

    .dCategory {
        float: left;
        position: relative;
        width: 111px;
        height: 170px;
        margin: 0 5px;
        padding: 0;
    }

    .k-dcListView:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }*/
</style>

<script type="text/x-kendo-template" id="template">
    <div>
        @*<img src="../content/web/foods/#= id #.jpg" alt="#: ProductName # image" />*@
        <i class="#: FAIcon #"></i><a href=""> #: ShortName #</a>
        <i class="#: FAIcon #"></i><a href=""> #: Name #</a>
        <i class="fas fa-dumbbell"></i><a href=""> #: SortSeq #</a>

    </div>
</script>

@(Html.Kendo().ListView(Model.dcList) //The ListView will be initially bound to the Model which is the Products table.
                    .Name("dcListView") //The name of the ListView is mandatory. It specifies the "id" attribute of the widget.
                    .TagName("div") //The tag name of the ListView is mandatory. It specifies the element which wraps all ListView items.
                    .ClientTemplateId("template") //This template will be used for rendering the ListView items.
)

@(Html.Kendo().Grid<DealCategory>().Name("grid")
                                .Groupable()
                                .Sortable()
                                .Editable()
                                .Scrollable()
                                .ToolBar(x => x.Excel())
                                .Columns(columns =>
                                {
                                    columns.Bound(column => column.Name);
                                    columns.Bound(column => column.ShortName);
                                    columns.Bound(column => column.SortSeq);
                                    columns.Command(column =>
                                    {
                                        column.Edit();
                                        column.Destroy();
                                    });
                                })
                                 .Excel(excel => excel
                                            .FileName("Export.xlsx")
                                            .Filterable(true)
                                            .ProxyURL("/Index?handler=Save")
                                        )
                                .DataSource(ds => ds.Ajax()
                                       .Read(r => r.Url("/Index?handler=Read").Data("forgeryToken"))
                                       .Update(u => u.Url("/Index?handler=Update").Data("forgeryToken"))
                                       .Create(c => c.Url("/Index?handler=Create").Data("forgeryToken"))
                                       .Destroy(d => d.Url("/Index?handler=Destroy").Data("forgeryToken"))
                                       .Model(m => m.Id(id => id.Id))
                                    .PageSize(10)
                                )
                                .Pageable()
)
<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.dcList[0].ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.dcList[0].SortSeq)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.dcList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SortSeq)
                </td>
            </tr>
        }
    </table>*@
@*<script type="text/x-kendo-template" id="template2">*@
<ul class="portfolio-filter">
    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Bootstrap</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".html">HTML</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".wordpress">Wordpress</a></li>
</ul><!--/#portfolio-filter-->
<ul class="portfolio-items col-3">
    <li class="portfolio-item apps">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item1.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item joomla bootstrap">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item2.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item2.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item bootstrap wordpress">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item3.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item3.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item joomla wordpress apps">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item4.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item4.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item joomla html">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item5.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
    <li class="portfolio-item wordpress html">
        <div class="item-inner">
            <img src="images/portfolio/thumb/item6.jpg" alt="">
            <h5>Lorem ipsum dolor sit amet</h5>
            <div class="overlay">
                <a class="preview btn btn-danger" href="images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </li><!--/.portfolio-item-->
</ul>
@*</script>*@
<form id="upload" method="post" action="http://dvbi03.venturafoods.com:9502/bi-lcm/v1/si/ssi/rpd/uploadrpd" enctype="multipart/form-data">
    <div class="demo-section k-content">
        <input name="files" id="files" type="file" aria-label="files" multiple /><br />
        <p style="padding-top: 1em; text-align: right">
            <button type="submit" class="k-button k-primary" id="btnUpload" asp-controller="Home" asp-action="Upload">Upload</button>
        </p>
    </div>
    <br />
    <div id="response" class="p-3 mb-2 bg-info text-white">@ViewBag.Result</div>
</form>

@section scripts
    {
    <script>
        $(document).ready(function () {

            //$("#pager").kendoPager({
            //    dataSource: {
            //        transport: {
            //            read: {
            //                url: "https://localhost:44310/api/dealcategory",
            //                dataType: "jsonp"
            //            }
            //        }
            //    }
            //});

            //var dataSource = new kendo.data.DataSource({
            //    transport: {
            //        read: {
            //            url: "https://localhost:44310/api/dealcategory",
            //            dataType: "jsonp"
            //        }
            //    },
            //    pageSize: 10
            //});

            //$("#dcListView").kendoListView({
            //    dataSource: dataSource,
            //    template: kendo.template($("#template").html())
            //});

            $("#files").kendoUpload(
                {
                    //async: {

                    //    saveUrl: "~/uploadRPD",
                    //    autoUpload: true
                    //},
                    validation: {
                        /**/
                        allowedExtensions: [".rpd"]
                        /**/
                    }
                }
            )
        });
    </script>
}
